{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Doutei</h1>

  <div class = "navbar">
<a href = "/mypage">マイページ</a>
<a href = "/search">授業検索</a>
<a href = "/search">教科書検索</a>
</div>

<h2>授業検索</h2>
<h1>写真（複数枚）</h1>
<img src ="{% static 'youki.jpg' %}" />
<h2>{{ textname }}</h2>
<h3>いいね {{num_love}}　コメント{{num_comment}}</h3>

<h1>商品説明欄</h1>

 
</body>    
</html>