<html>
    <head>
        <title>{{users.username}}のホームページ</title>
        <h1>{{users.username}}のマイページ</h1>
        <input type="button" onclick="location.href='edit/'" value = "編集">
    </head>
    <body>
        <p>ここがいいね一覧です。</p>
        <button type="button" onclick="location.href='http://127.0.0.1:8000/like/'">いいね一覧</button>
        <p>ここが出品です。</p>
        <button type="button" onclick="location.href='http://127.0.0.1:8000/newcommodity'">出品する</button>
        <p>ここがお気に入り登録です。</p>
        <button type="button" onclick="location.href='http://127.0.0.1:8000/like/likely/'">お気に入り登録</button>
        <p>ここが自己紹介です。</p>
        <div style="border: #808000 solid 1px; font-size: 100%; padding: 15px;">{{users.user_comment}}</div>
        <p>ここが写真です。</p>
        {% if users.image %}
        <img src="{{users.image.url}}">
        {% endif %}
    {% block main_containts %}
    {% endblock %}
        <p>ここがSNSリンクです。</p>
        <button type="button">SNSリンク</button>
    </body>

</html>
