{% load static %}
<!DOCTYPE html>
    <head>
        <link href="{% static 'css/mypage.css' %}" rel="stylesheet"> 
        <link href="{% static 'classpages/head.css' %}" rel="stylesheet">

        <title>{{users.username}}のホームページ</title>
    </head>
    <body>
        {% include 'classpages/head.html' %}
        <div class="top">
            <h1>{{users.username}}のマイページ
                    {% if ueval_avg %}
                        {% for avg in ueval_avg %}
                            {{ avg.avg }}
                        {% endfor %}
                    {% else %}
                        あなたはまだ他の人に評価されていません
                    {% endif %}
                </p>
        </div>
        <div>
            ここが写真です。
            {% if users.image %}
            <img src="{{users.image.url}}" width = 100px>
            {% endif %}
            {% if users.user_id == user.user_id %}
            <a href="edit/" class="button1">編集</a>
            {% endif %}
            ここがいいね一覧です。
            <a href="{% url 'like:like' user.user_id %}" class="button1">いいね一覧</a>
            {% if users.user_id == user.user_id %}
            ここが出品です。
            <a href="{% url 'newcommodity:index' %}" class="button1">出品する</a>
            {% endif %}
            ここがお気に入り登録です。
            <a href="{% url 'like:likely' user.user_id %}" class="button1">お気に入り登録</a>
            <p>ここが自己紹介です。</p>
            <div style="border: #808000 solid 1px; font-size: 100%; padding: 15px;">{{users.user_comment}}</div>
            <p>出品教材だよ</p>
            {% for text in texts_list %}
                {% if text.user_id.user_id == users.user_id %}
                    {{text.title}}
                    {% if text.image1 %}
                        <a href="{% url 'textpage:textpage' text.text_id%}"  alt="実装例" width="1200" height="814" class="aligncenter size-full wp-image-7509" >
                        <img src="{{text.image1.url}}" width = 100px></a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if user.user_id == users.user_id %}
                <a href="{% url 'mypage:delete_list' users.user_id %}" class="button1">出品取り消し</a>
            {% endif %}
        </div>
    </body>

</html>
