{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>授業ページ</title>
        <link href="{% static 'css/classpages.css' %}" rel="stylesheet">               
    </head>
    <body>
        <div class="titlebar">
            <p class="RIKATYAN">RIKATYAN</p>        
            <p class="message"><a href={% url 'message:message' user.user_id %} class="btn-border-bottom">メッセージ</a></p>
        </div>
        <p>
        </p>
        <div class="url">
            <p class="mypage"> <a href={% url 'mypage:mypage' user.user_id %} class="button">マイページ</a></p>
            <p class="c_search"><a href = "/search" class="button">授業検索</a></p>
            <p class="t_search"><a href = "/search" class="button">教科書検索</a></p>
        </div>
        <p><br></p>     
        <table>
        <caption>{{classes.title}}</caption>
            <tr>
                <td class="subject">
                    分かりやすさ
                </td>
                <td class="content">
                    {% for cls in avg %}
                    {% if cls.class_id == classes.class_id %}
                    <span class="star5_rating" data-rate="{{cls.avg_rikai|floatformat}}"></span>
                    {{cls.avg_rikai|floatformat}}
                    {%endif%}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    楽単
                </td>
                <td>
                    {% for cls in avg %}
                    {% if cls.class_id == classes.class_id %}
                    <span class="star5_rating" data-rate="{{cls.avg_raku|floatformat}}"></span>
                    {{cls.avg_raku|floatformat}}
                    {%endif%}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    単位
                </td>
                <td>
                    {{classes.credit}}
                </td>
            </tr>
            <tr>
                <td>
                    教授名
                </td>
                <td>
                    {{classes.teacher}}
                </td>
            </tr>
            <tr>
                <td>
                    評価方法
                </td>
                <td>
                    {{ classes.method_eval }}
                </td>
            </tr>
            <tr>
                <td>
                    授業形態
                </td>
                <td>
                    {{ classes.classform }}
                </td>
            </tr>
            <tr>
                <td>
                    授業内容
                </td>
                <td>
                    {{classes.contents}}
                </td>
            </tr>
        </table>
        <p></p>

        <div style="text-align: center;">
        <p><a href="{% url 'classpages:ceval' classes.class_id %}" class="button">評価する</a></p>
        </div>

        <div class="box8">
        <h3>口コミ</h3>
        {%for ccom in ccom_list%}
        {% if ccom.class_id.class_id == classes.class_id %}

            {% if user.username == ccom.user_id.username %}
            <h6 style="text-align:right">
                <p>
                <h7>{{ccom.user_id.username}}</h7><br>
                {{ccom.comments}}<br>
                {{ccom.date}}<br>
                </p>
            </h6>
            
            {% else  %}
            <h6 style="text-align:left">
                <p>
                  <h7>{{tcom.user_id.username}}</h7><br>
                  {{tcom.comments}}<br>
                  {{tcom.date}}<br>
                </p>
            </h6>
            {%endif%}
        {%endif%}
        {%endfor%}
        </div>
        <p></p>
        <div class="url">
        <p class="message"><a href="{% url 'classpages:ccom' classes.class_id %}" class="button">コメントする</a></p>
        </div>

        <p></p>

        <div class="url">
            <p class="message"><a href="{% url 'classpages:create' %}" class="button">授業追加</a></p>
        </div>
    </body>
</html>