{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{classes.title}}</title>
        <link href="{% static 'classpages/classpages.css' %}" rel="stylesheet">               
    </head>
    <body>
        {% include 'classpages/head.html'%}   
        <p><br></p> 
        <table>
        <caption>{{classes.title}}</caption>
            <tr>
                <td class="subject">
                    分かりやすさ
                </td>
                <td class="content">
                    {% for cls in avg %}
                    {% if cls.class_id == classes.class_id %}
                    <span class="star5_rating" data-rate="{{cls.avg_rikai|floatformat}}"></span>
                    {{cls.avg_rikai|floatformat}}
                    {%endif%}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    楽単
                </td>
                <td>
                    {% for cls in avg %}
                    {% if cls.class_id == classes.class_id %}
                    <span class="star5_rating" data-rate="{{cls.avg_raku|floatformat}}"></span>
                    {{cls.avg_raku|floatformat}}
                    {%endif%}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    単位
                </td>
                <td>
                    {{classes.credit}}
                </td>
            </tr>
            <tr>
                <td>
                    教授名
                </td>
                <td>
                    {{classes.teacher}}
                </td>
            </tr>
            <tr>
                <td>
                    評価方法
                </td>
                <td>
                    {{ classes.method_eval }}
                </td>
            </tr>
            <tr>
                <td>
                    授業形態
                </td>
                <td>
                    {{ classes.classform }}
                </td>
            </tr>
            <tr>
                <td>
                    授業内容
                </td>
                <td>
                    {{classes.contents}}
                </td>
            </tr>
        </table>
        <p></p>

        <div style="text-align: center;">
        <p><a href="{% url 'classpages:ceval' classes.class_id %}" class="button"><span>評価する</span></a></p>
        </div>

        <div class="box8">
        <h3>口コミ</h3>
        <div>
        {%for ccom in ccom_list%}
        {% if ccom.class_id.class_id == classes.class_id %}

            {% if user.username == ccom.user_id.username %}
            <h6 style="text-align:right">
                <h7>{{ccom.user_id.username}}</h7><br>
                {{ccom.date}}
                <div class="balloon2-top-right">
                <p>
                {{ccom.comments}}
                </p>
                </div>
            </h6>
            
            {% else  %}
            <h6 style="text-align:left">
                <h7>{{ccom.user_id.username}}</h7><br>
                <div class="balloon2-top-left">
                <p>
                  {{ccom.comments}}
                </p>
                </div>
                {{ccom.date}}
            </h6>
            {%endif%}
        {%endif%}
        {%endfor%}
        </div>
        </div>
        <p></p>
        <div class="url">
            <form action='' method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.comments.label_tag }}<br>
                <textarea name="comments" cols="40" rows="1" required id="id_comments">
                </textarea>
                <input type="submit" class="button"></input>
            </form>
            
        </div>

        <p></p>

        <div class="url">
            <p class="message"><a href="{% url 'classpages:create' %}" class="button"><span>授業追加</span></a></p>
        </div>
    </body>
</html>