{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>コメント</title>
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">               
</head>
<div class="box4">
    <h3>注意事項</h3>
    <h5>学部学科ナンバリングについて</h5>
    <p>学部に番号の10の位、学科に番号の1の位を入力してください。</p>
    <table>
        <th>学部</th><th>学科</th><th>付番する番号</th>
        <tr>
            <td rowspan="6">理学部第一部<br>Faculty of Science<br>Division Ⅰ</td>
            <td>数学科<br>Department of Mathematics</td>
            <td>11</td>
        </tr>
        <tr>
            <td>物理学科<br>Department of Physics</td>
            <td>12</td>
        </tr>
        <tr>
            <td>化学科<br>Department of Chemistry</td>
            <td>13</td>
        </tr>
        <tr>
            <td>応用数学科<br>Department of Applied Mathematics</td>
            <td>14</td>
        </tr>
        <tr>
            <td>応用物理学科<br>Department of Applied Physics</td>
            <td>15</td>
        </tr>
        <tr>
            <td>応用化学科<br>Department of Applied Chemistry</td>
            <td>16</td>
        </tr>
        <tr>
            <td rowspan="3">理学部第二部<br>Faculty of Science <br>Division Ⅱ</td>
            <td>数学科<br>Department of Mathematics</td>
            <td>21</td>
        </tr>
        <tr>
            <td>物理学科<br>Department of Physics</td>
            <td>22</td>
        </tr>
        <tr>
            <td>化学学科<br>Department of Chemistry</td>
            <td>23</td>
        </tr>
        <tr>
            <td rowspan="2">薬学部<br>Faculty of <br>Pharmaceutical <br>Sciences</td>
            <td>薬学科<br>Department of Pharmacy</td>
            <td>31</td>
        </tr>
        <tr>
            <td>生命創薬科学科<br>Department of Medicinal and Life Sciences</td>
            <td>32</td>
        </tr>
        <tr>
            <td rowspan="5">工学部<br>Faculty of <br>Engineering</td>
            <td>建築学科<br>Department of Architecture</td>
            <td>41</td>
        </tr>
        <tr>
            <td>工業化学科<br>Department of Industrial Chemistry</td>
            <td>42</td>
        </tr>
        <tr>
            <td>電気工学科<br>Department of Electrical Engineering</td>
            <td>43</td>
        </tr>
        <tr>
            <td>情報工学科<br>Department of Information and Computer Technology</td>
            <td>46</td>
        </tr>
        <tr>
            <td>機械工学科<br>Department of Mechanical Engineering</td>            </td>
            <td>45</td>
        </tr>
        <tr>
            <td rowspan="10">理工学部<br>Faculty of Science <br>and Technology</td>
            <td>数学科<br>Department of Mathematics</td>
            <td>61</td>
        </tr>
        <tr>
            <td>物理学科<br>Department of Physics</td>
            <td>62</td>
        </tr>
        <tr>
            <td>情報科学科<br>Department of Information Sciences</td>
            <td>63</td>
        </tr>
        <tr>
            <td>応用生物科学科<br>Department of Applied Biological Science</td>
            <td>64</td>
        </tr>
        <tr>
            <td>建築学科<br>Department of Architecture</td>
            <td>71</td>
        </tr>
        <tr>
            <td>先端科学科<br>Department of Pure and Applied Chemistry</td>
            <td>72</td>
        </tr>
        <tr>
            <td>電気電子情報工学科<br>Department of Electrical Engineering</td>
            <td>73</td>
        </tr>
        <tr>
            <td>経営工学科<br>Department of Industrial Administration</td>
            <td>74</td>
        </tr>
        <tr>
            <td>機械工学科<br>Department of Mechanical Engineering</td>
            <td>75</td>
        </tr>
        <tr>
            <td>土木工学科<br>Department of Civil Engineering</td>
            <td>76</td>
        </tr>
        <tr>
            <td rowspan="3">先進工学部<br>Faculty of <br>Advanced<br>Engineering</td>
            <td>電子システム工学科<br>Department of Applied Electronics</td>
            <td>81</td>
        </tr>
        <tr>
            <td>マテリアル創成工学科<br>Department of Materials Science and Technology</td>
            <td>82</td>
        </tr>
        <tr>
            <td>生命システム工学科<br>Department of Biological Science and Technology</td>
            <td>83</td>
        </tr>
        <tr>
            <td rowspan="3">経営学部<br>School of<br>Management</td>
            <td>経営学科<br>Department of Management</td>
            <td>86</td>
        </tr>
        <tr>
            <td>ビジネスエコノミクス学科<br>Department of Business Economics</td>
            <td>87</td>
        </tr>
        <tr>
            <td>国際デザイン経営学科<br>Department of International Digital and Design Management
            </td>
            <td>89</td>
        </tr>
        <tr>
            <td rowspan="7">一般教養科目<br>Liberal Arts</td>
            <td>理学部第一部<br>Faculty of Science Division Ⅰ</td>
            <td rowspan="3">91</td>
        </tr>
        <tr>
            <td>理学部第二部<br>Faculty of Science Division Ⅱ</td>
        </tr>
        <tr>
            <td>経営学部<br>School of Management</td>
        </tr>
        <tr>
            <td>薬学部<br>Faculty of Pharmaceutical Sciences</td>
            <td rowspan="2">92</td>
        </tr>
        <tr>
            <td>理工学部<br>Faculty of Science and Technology</td>
        </tr>
        <tr>
            <td>工学部<br>Faculty of Engineering</td>
            <td rowspan="2">93</td>
        </tr>
        <tr>
            <td>先進工学部<br>Faculty of Advanced Engineerin</td>
        </tr>
    </table>
        <h5>［教職に関する科目：Teacher Education］</h5>
    <table>
        <th>授業科目の種類</th><th>付番する番号</th>
        <tr>
            <td>教職に関する科目 Teacher Education</td>
            <td>99</td>
        </tr>
    </table>
</div>

    <form action='' method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="area">
        <input type="submit" class="btn-flat-border"></input>
        </div>
    </form>
</html>