{% load static %}
<html lang="ja" dir="ltr">
    <head>
       <meta charset="utf-8">
       <link href="{% static 'css/newcommodity.css' %}" rel="stylesheet">
    </head>

    <body>
      
      
 
    <form action='{% url 'newcommodity:addText' %}' method='post' class='form' enctype="multipart/form-data">
        <!-- ユーザー登録フォームを表示 -->
        {% csrf_token %}
        {{ textForm.image1 }}
        {{ textForm.image2 }}
        {{ textForm.image3 }}

        <p>商品名<br>{{ textForm.title }}</p>
        <p>商品の説明<br>{{ textForm.info }}</p>

        
        
       
         <table border="1">
            <tr>
            <th>カテゴリ</th>
               <td>
                  <label for="{{ textForm.category.id_for_label }}"></label>
                  <select name="category" id="category">
                  <!--<option value="" selected>選択してください</option>-->
                  <option value=1>教科書</option>
                  <option value=2>参考書</option>
                  <option value=3>過去問</option>
                  </select>
               </td>
            </tr>


      

      <th>商品状態</th>
            <td> <label for="{{ textForm.state.id_for_label }}"></label>
             <select name="state" id="state">
             <option value=1>新品、未使用</option>
             <option value=2>未使用に近い</option>
             <option value=3>目立った傷や汚れなし</option>
             <option value=4>やや傷や汚れあり</option>
             <option value=5>傷や汚れあり</option>
             <option value=6>全体的に状態が悪い</option>
             </select>
          </td>

      <tr>
         <th>授業名</th>
            
            <td>
               <label for="{{ textForm.class_id.id_for_label }}"></label>
               <select name="class_id" id="class_id">
               {% for class in classes %}
               <option value={{class.num}}>{{class.title}}</option>
               {% endfor %}
               </select>
            </td>
      </tr>
      
      <tr>
         <th>お渡しまでの日数</th>
         <td>
            <label for="{{ textForm.days.id_for_label }}"></label>
             <select name="days" id="days">
               <option value=1>１〜２日</option>
               <option value=2>２〜３日</option>
               <option value=3>４〜７日</option>
               </select>
         </td>
      </tr>
    </table>
    
    <button type='submit' class='btn btn-outline-primary'>出品する</button>
        
   </form>



       <!--
         <p>{{textForm.date}}</p>

       <h1>Doutei1</h1>
       <h2><a href="../mypage">メッセージ</a></h2>
       <h2><a href="../mypage">マイページ</a></h2>
       <h2><a href="../mypage">授業検索</a></h2>
       <h2><a href="../mypage">教科書検索</a></h2>

       
      <form action="" method="POST">{% csrf_token %}

      <p><br>
         画像１枚目{{form.image1}}<br>
         画像２枚目{{form.image2}} <br>
         画像３枚目{{form.image3}} <br>
       </p>
       <p>商品名<br>
          {{form.title}}
　　　　</p>
       
      <p>商品詳細<br>
         {{form.info}}
　　　　</p>

         <p>カテゴリ<br>
            {{form.category}}
         </p>

         <p>商品状態<br>
            {{form.state}}
         </p>

         <p>授業名<br>
            {{form.class_id}}
         </p>

         <p>お渡しまでの日数<br>
            {{form.days}}
         </p>

         <p>出品者<br>
            {{form.user_id}}
         </p>
         
         <p>出品日時<br>
            {{form.date}}
         </p>
         
         
       

       
 
       <table border="1">
          <tr>
            <th>カテゴリ</th>
            <td>
             <select name="example">
                <option value="選択肢1">教科書</option>
                <option value="選択肢2">参考書</option>
                <option value="選択肢3">過去問</option>
             </select>
            </td>
          </tr>
          <tr>
            <th>商品状態</th>
            <td> <select name="itemstate">
             <option value="選択肢1">新品、未使用</option>
             <option value="選択肢2">未使用に近い</option>
             <option value="選択肢3">目立った傷や汚れなし</option>
             <option value="選択肢4">やや傷や汚れあり</option>
             <option value="選択肢5">傷や汚れあり</option>
             <option value="選択肢5">全体的に状態が悪い</option>
             </select>
          </td>
          </tr>
          <tr>
            <th>商品名</th>
            <td><input type="" name="itemname" size="30"></td>
          </tr>
          <tr>
             <th>授業名</th>
             <td>データベース引っ張る</td>
           </tr>
           <tr>
             <th>お渡しまでの日数</th>
             <td>
                <select name="itemstate">
                   <option value="選択肢1">１〜２日</option>
                   <option value="選択肢2">２〜３日</option>
                   <option value="選択肢3">４〜７日</option>
                   </select>
             </td>
           </tr>
        </table>
      
     
  

   
  
     
      <button type="submit">出品する</button>
  </form>
-->
   </body>

 </html>
 


