
{% load static %}
<html lang="ja" dir="ltr">
    <head>
       <meta charset="utf-8">
       <link href="{% static 'css/newcommodity.css' %}" rel="stylesheet">
    </head>
    <body>
       <h1>Doutei1</h1>
       <h2>メッセージ</h2>
       <h2>マイページ</h2>
       <h2>授業検索</h2>
       <h2>教科書検索</h2>
 
       <input type="file" name="example" accept="image/jpeg, image/png">
       <input type="file" name="example" accept="image/jpeg, image/png">
       <input type="file" name="example" accept="image/jpeg, image/png">
       
       <form action="#" method="post">
          <p>商品情報<br>
             <textarea name="iteminfo" cols="40" rows="8"></textarea></p>
       </form>
 
       <table border="1">
          <tr>
            <th>カテゴリ</th>
            <td>
             <select name="example">
                <option value="選択肢1">教科書</option>
                <option value="選択肢2">参考書</option>
                <option value="選択肢3">過去問</option>
                <option value="選択肢4">ちんこ</option>
                <option value="選択肢5">ぱんつ</option>
             </select>
            </td>
          </tr>
          <tr>
            <th>商品状態</th>
            <td> <select name="itemstate">
             <option value="選択肢1">新品、未使用</option>
             <option value="選択肢2">未使用に近い</option>
             <option value="選択肢3">目立った傷や汚れなし</option>
             <option value="選択肢4">やや傷や汚れあり</option>
             <option value="選択肢5">傷や汚れあり</option>
             <option value="選択肢5">全体的に状態が悪い</option>
             </select>
          </td>
          </tr>
          <tr>
            <th>商品名</th>
            <td><input type="" name="itemname" size="30"></td>
          </tr>
          <tr>
             <th>授業名</th>
             <td>データベース引っ張る</td>
           </tr>
           <tr>
             <th>お渡しまでの日数</th>
             <td>
                <select name="itemstate">
                   <option value="選択肢1">１〜２日</option>
                   <option value="選択肢2">２〜３日</option>
                   <option value="選択肢3">４〜７日</option>
                   </select>
             </td>
           </tr>
        </table>
      
      
      <label for="trigger" class="open_btn">出品する</label>
      <div class="popup_wrap">
        <input id="trigger" type="checkbox">
        <div class="popup_overlay">
          <label for="trigger" class="popup_trigger"></label>
          <div class="popup_content">
              <label for="trigger" class="close_btn">×</label>
              <p>出品完了しました！お疲れ様でした！<br>
               <button onclick="location.href='http://127.0.0.1:8000/mypage/'">マイページへ</button>
              </p>
          </div>
        </div>
      </div>
   
   </body>
 </html>
 