{% load static %}
<html lang="ja" dir="ltr">
    <head>
       <meta charset="utf-8">
       <link href="{% static 'css/newcommodity.css' %}" rel="stylesheet">
       <link href="{% static 'classpages/head.css' %}" rel="stylesheet">
    </head>

    <body>
      
       {% include 'classpages/head.html' %}
        <div class="top">
            <h1>{{user}}の出品ページ</h1>
        </div>
        <p>
        教科書、参考書、過去問等に該当するものが出品対象になります。<br>
        商品名には、本のタイトルをそのまま入力してください。<br>
        また、過去問を出品する際、必ず『過去問』を商品名に含んでください。<br>
        商品の説明は全員が閲覧できます。丁寧に書きましょう。<br>
         </p>
         
    <center>
         <form action='{% url 'newcommodity:addText' %}' method='post' class='form' enctype="multipart/form-data">
               <!-- ユーザー登録フォームを表示 -->
               
               {% csrf_token %}
               {{ form.as_p }}
               <b>商品の画像</b><br>
            　　<small>※写真一枚目必須</small>
               <br>
                  １枚目：{{ textForm.image1 }}<br>
                  ２枚目：{{ textForm.image2 }}<br>
                  ３枚目：{{ textForm.image3 }}
          
                  
               
               <p><b>商品名</b><br>{{ textForm.title }}</p>
               
               <p><b>商品の説明</b><br>{{ textForm.info }}</p>

               
               
               
               <table border="1">
                  <tr>
                     <th>カテゴリ</th>
                     <td>
                        <label for="{{ textForm.category.id_for_label }}"></label>
                        <select name="category" id="category">
                        <!--<option value="" selected>選択してください</option>-->
                        <option value=1>教科書</option>
                        <option value=2>参考書</option>
                        <option value=3>過去問</option>
                        </select>
                     </td>
                  </tr>


               

                  <th>商品状態</th>
                     <td> 
                        <label for="{{ textForm.state.id_for_label }}"></label>
                        <select name="state" id="state">
                        <option value=1>新品、未使用</option>
                        <option value=2>未使用に近い</option>
                        <option value=3>目立った傷や汚れなし</option>
                        <option value=4>やや傷や汚れあり</option>
                        <option value=5>傷や汚れあり</option>
                        <option value=6>全体的に状態が悪い</option>
                        </select>
                     </td>

                  <tr>
                     <th>授業名</th>
                     <td>
                        <label for="{{ textForm.class_id.id_for_label }}"></label>
                        <select name="class_id" id="class_id">
                        {% for class in classes %}
                        <option value={{class.num}}>{{class.title}}</option>
                        {% endfor %}
                        </select>
                     </td>
                  </tr>
               
                  <tr>
                     <th>お渡しまでの日数</th>
                     <td>
                        <label for="{{ textForm.days.id_for_label }}"></label>
                        <select name="days" id="days">
                        <option value=1>１〜２日</option>
                        <option value=2>２〜３日</option>
                        <option value=3>４〜７日</option>
                        </select>
                     </td>
                  </tr>
               </table>
            <br>
            <button type='submit' class='btn btn--orange btn--cubic btn--shadow'>出品する</button>
           
         </form>
      </center>


   </body>

 </html>
 


