{% load static %}
<!DOCTYPE html>
   {% if user == text.user_id %}
   <h1>
      {{ text.title }}
   </h1>
   <form action='' method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <p><b>商品の説明</b><br>{{ form.info }}</p>
      <table border="1">
         <tr>
            <th>カテゴリ</th>
            <td>
               <label for="{{ form.category.id_for_label }}"></label>
               <select name="category" id="category">
               <!--<option value="" selected>選択してください</option>-->
               <option value=1>教科書</option>
               <option value=2>参考書</option>
               <option value=3>過去問</option>
               </select>
            </td>
         </tr>
         <th>商品状態</th>
            <td> 
               <label for="{{ form.state.id_for_label }}"></label>
               <select name="state" id="state">
               <option value=1>新品、未使用</option>
               <option value=2>未使用に近い</option>
               <option value=3>目立った傷や汚れなし</option>
               <option value=4>やや傷や汚れあり</option>
               <option value=5>傷や汚れあり</option>
               <option value=6>全体的に状態が悪い</option>
               </select>
            </td>
         <tr>
            <th>お渡しまでの日数</th>
            <td>
               <label for="{{ form.days.id_for_label }}"></label>
               <select name="days" id="days">
               <option value=1>１〜２日</option>
               <option value=2>２〜３日</option>
               <option value=3>４〜７日</option>
               </select>
            </td>
         </tr>
      </table>
      <input type="submit" class="button"></input>
   </form>
   {% else %}
      閲覧できません
   {% endif %}
</html>