{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="{% static 'users/common.css' %}">
    <script src="https://kit.fontawesome.com/d86c726e71.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div>
            <p>RIKATYAN</p>
        </div>
        <div>
          {% if user.is_authenticated %}
          <p>こんにちは {{ user.username }}    <a href="{% url 'logout'%}">ログアウト</a></p>
          {% else %}
          <div id="wrapper">
            <nav id="nav-left">
              <div id="nav">
                <ul id="nav-ul">
                  <li class="nav-li"><a href="{% url 'login' %}" class="nav-li-a"><i class="fa fa-tachometer" style="margin-right:15px"></i>ログイン</a></li>
                </ul>
              </div>
            </nav>
          {% endif %}
      </div>
    </header>
      <main id="main">
          {% block content %}
          {% endblock %}
      </main>
    </div>
</body>
</html>