<!-- templates/registration/login.html -->
<html lang="ja" dir="ltr"></html>
<head>
<body>
<meta charset="utf-8">
<title></title>
<h1>新規会員登録</h1>
<form method="post">
  <!--{% csrf_token %}-->
  <!--{{ form.as_p }}-->
  <table class="reg_form">
    <tr>
    <p>
    <input type="text" name="user_id" required="required" placeholder="ユーザーネーム"><br>
    <input type="password" name="password" required="required" placeholder="学籍番号"><br>
    <input type="text" name="user_id" required="required" placeholder="パスワード"><br>
    <input type="password" name="password" required="required" placeholder="パスワード再入力"></p>
    </tr>
    </table>
  <!--<button type="submit">Login</button>-->
  <input type="submit" class="button" value="登録">
</form>
</body>
</html>