.header {
  color: rgb(224, 33, 7);
  font-size: 60px;
}

.footer button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  /*border-radius: 6px;*/
  /*background-color: rgba(255, 100, 0, 0.8);*/
  padding: 6px 3px;
}