.header {
  color: rgb(224, 33, 7);
  font-size: 60px;
}

.footer button {
  position: fixed;
  width: 80px;
  bottom: 20px;
  right: 20px;
  /*border-radius: 6px;
  background-color: rgba(255, 100, 0, 0.8);*/
  padding: 6px 3px;
}

.example-link {
  width: 50%;
  display: inline-block;
  /*line-height:0.7px;*/
  margin: 10px; /* 前後のスペース */
  margin-bottom: 0.5px;
  padding: 10px 0.6px; /* 文字周りの余白 */
  color: black;
  font-size: 0.95em; /* フォントサイズ */
  text-decoration: none; /* 下線を消す */
  background: springgreen; /* 背景色 */
  border-radius: 3px; /* 角の丸み */
  transition: 0.3s; /* ホバーの変化を滑らかに */
}

/* ホバー時の見た目 */
.example-link:hover {
  background: springgreen;/* 背景色 */
}
.example-link:active{
  /*ボタンを押したとき*/
-webkit-transform: translateY(4px);
transform: translateY(4px);/*下に動く*/
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
border-bottom: none;
}

.mypage{
  display: table-cell;
  text-align: left;
}

.c_search{
  display: table-cell; 
  text-align: center;
}

.t_search{
  display: table-cell; 
  text-align: right;
}

.button{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.button:active{
  /*ボタンを押したとき*/
-webkit-transform: translateY(4px);
transform: translateY(4px);/*下に動く*/
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
border-bottom: none;
}

.url{
  display: table; 
  width: 100%; 
  color:black;
}
