{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <title>Document</title>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
  <div class="header">お気に入り一覧</div>
  <div class = "contents">
    {% if not user.is_authenticated%}
    こんにちは！ ゲスト さん
    {% else %}
    {% for likely in object_list %}
    {%if user.user_id == likely.user_id.user_id %}
    　<center>
      <!--<button type="button" onclick="location.href='http://127.0.0.1:8000/mypage/'">{{ likely.class_id.title }}</button>  授業ページのリンクをはる(classpages)-->
      <a href="{% url 'classpages:class' likely.class_id.class_id %}" class="example-link">{{ likely.class_id.title }}</a>
      <br>
      </center>
    {%endif%}
    {% endfor %}
    </div>
    {%endif%}

  <div class="footer">
    <button type="button" onclick="location.href='{% url 'mypage:mypage' user.user_id %}'">戻る</button> 
  </div>

</body>
</html>
