{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
  <div class="titlebar">
      <p class="RIKATYAN">RIKATYAN</p>        
      <p class="message">メッセージ</p>
  </div>
  <p>
  </p>
  <div class="url">
      <p class="mypage"> <a href={% url 'mypage:mypage' user.user_id %} class="button">マイページ</a></p>
      <p class="c_search"><a href = "/search" class="button">授業検索</a></p>
      <p class="t_search"><a href = "/search" class="button">教科書検索</a></p>
  </div>
  <div class="header">お気に入り一覧</div>
  <div class = "contents">
    {% if not user.is_authenticated%}
      こんにちは！ ゲスト さん
    {% else %}
    {% for likely in object_list %}
       {%if user.user_id == likely.user_id.user_id %}
    　   <center>
         <a href="{% url 'classpages:class' likely.class_id.class_id %}" class="example-link">{{ likely.class_id.title }}</a>
         <br>
         </center>
       {%endif%}
    {% endfor %}
    {%endif%}
  </div>

</body>
</html>

