{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="{% static 'css/like.css' %}" rel="stylesheet">
  <link href="{% static 'classpages/head.css' %}" rel="stylesheet">
</head>
  <body>
    {% include 'classpages/head.html' %}
    <div class="top">
      <h1>{{user}}のいいね一覧</h1>
  </div>
     {% if not user.is_authenticated%}
        こんにちは！ ゲスト さん
     {% else %}
         {% for like in object_list %}
           {%if user.user_id == like.user_id.user_id %}
               {%if like.text_id.image1%}
               　<div class="inline-block_test">
                 <a href="{% url 'textpage:textpage' like.text_id.text_id%}" ><img src="{{like.text_id.image1.url}}" style="width:200px;"/><p>{{ like.text_id.title }}</p></a>
                　　   </div>
                 {%endif%}  
           {%endif%}
          {% endfor %}
      {%endif%}
      {% block content %}{% endblock %}
    
   <!-- <button type="button" onclick="location.href='http://127.0.0.1:8000/mypage/'"><span>{{ likely.text_id.image1 }}</span>  </button> 授業ページのリンクをはる(classpages)-->
   <!--<img src="{{like.text_id.image1.url}}" style="width:500px;">-->

</body>
</html>


