{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <title>Document</title>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
  <div class="header">お気に入り一覧</div>
  <div class = "contents">
    {% for likely in object_list %}
    {% if likely.class_id %}
    　<center>
      <!--<button type="button" onclick="location.href='http://127.0.0.1:8000/mypage/'">{{ likely.class_id.title }}</button>  授業ページのリンクをはる(classpages)-->
      <a href="{% url 'classpages:class' likely.class_id.class_id %}">{{ likely.class_id.title }}</a>
      
      </center>
      {%endif%}
    {% endfor %}
  </div>

  <div class="footer">
    <button type="button" onclick="location.href='http://127.0.0.1:8000/mypage/'">戻る</button> 
  </div>

</body>
</html>