{% extends 'layout_search.html' %}


{% load static %}
{% block  content %}   
<link rel="stylesheet" href="{% static 'search/styles.css' %}">

<h1 class="mt-5 pt-4 text-center">検索</h1>

<div class="d-flex justify-content-center">
  <form class="form-inline my-2" method="GET" action="{% url 'search:index' %}">
    
    <input type="text" class="form-control" name="q" value="{{request.GET.q}}">
    <button type="submit" value="q" class="btn btn-primary" style="display: inline-block;">検索</button>
   
  </form>
  
</div>

{% endblock %}
