{% load static %}

{% block content %}
<form action="{% url 'search:tlike' %}" method="POST">
    {% csrf_token %}
    {% if text.text_id in liked_list %}
        <button id="like" name="{{text.text_id}}"><i class="fas fa-lg fa-heart like-red" style="color:#ff3333;"></i></button>
    {% else %}
        <button id="like" name="{{text.text_id}}"><i class="far fa-lg fa-heart"></i></button>
    {% endif %}
</form>

<!-- <p name="{{text.text_id}}-count" class="count"> {{ text.tfavo_set.count }} </p> -->

{% endblock %}